parser: babel-eslint
plugins:
  - standard
rules:
  no-var: error
  no-console: off
  semi: [error, never]
  quotes: [error, single]
  lines-between-class-members: error
extends:
  - eslint:recommended
env:
  browser: true
  es6: true
  jasmine: true
  node: true
