extends: openstack

parserOptions:
  ecmaVersion: 6
  sourceType: module

rules:
  # disallow unnecessary .call() and .apply()
  # http://eslint.org/docs/rules/no-useless-call
  no-useless-call: 2

  # require let or const instead of var
  # http://eslint.org/docs/rules/no-var
  no-var: 2

  # suggest using arrow functions as callbacks
  # http://eslint.org/docs/rules/prefer-arrow-callback
  prefer-arrow-callback: 2

  # suggest using the spread operator instead of .apply().
  # http://eslint.org/docs/rules/prefer-spread
  prefer-spread: 2

  # suggest using the rest parameters instead of arguments
  # http://eslint.org/docs/rules/prefer-rest-params
  prefer-rest-params: 2
